h1 {
display: flex;
color: black;
justify-content: center;
font-size: xx-large;
}
h2 {
    color: black;
}

.products {
    color: black;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2em;
    font-style: oblique;
    font-size: x-large;
}
.product__item {
    background-color: rgb(58, 235, 58);
    margin-top: 1em;
    border: 2px solid;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    
}

.product__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-around;
  
}

body {
    opacity: 100%;
background-image: url(https://media.architecturaldigest.com/photos/55e76590cd709ad62e8e79ab/master/w_900,h_600,c_limit/dam-images-architecture-2015-02-candy-shops-beautiful-candy-shops-07-candylicious.jpg);
}
.price__button {
    font-weight: bolder;
    color: black bold;
    display: flex;
    border: 1px solid;
    margin-top: 1rem;
    width: 20%;
    justify-content: center;
}