.customerForm__title {
    font-kerning: auto;
}

.customerForm {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: larger;
}
.customer__List {
    display: flex;
    font-weight: bolder;
    justify-content: center;
    justify-content: space-around;
    border-radius: 25%;
    margin: 1em;
    border: 1px solid;
    background-color: #89b0b0;
}