
h2 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.locations {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2em;
    font-style: oblique;
    font-size: x-large;
}


.location__item {
    background-color: #89b0b0;
    margin-top: 1em;
    border: 2px solid;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    
}